/* General Bar Style */
* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  min-height: 30px;
  border: none;
}

/* Bar container */
#waybar {
  background-color: transparent;
  padding: 0 20px;
}

/* Workspaces section */
#workspaces {
  margin-top: 4px;
  border-radius: 10px;
  background-color: #1a1b26;
}

/* Inactive workspace */
#workspaces button {
  padding: 0 6px;
}

/* Active workspace */
#workspaces button.active {
  color: #7aa2f7;
}

/* Urgent workspace */
#workspaces button.urgent {
  color: yellow;
}

/* Modules spacing */
.modules-left,
.modules-center,
.modules-right {
  margin: 0 6px;
}

/* Individual modules */
#custom-powermenu,
#pulseaudio,
#battery,
#cpu,
#memory,
#temperature,
#clock,
#tray {
  color: white;
  margin: 0 2px;
  margin-top: 4px;
  font-weight: bold;
  padding: 0 6px;
  border-radius: 10px;
  background-color: #1a1b26;
}

#window {
  color: #c0caf5;
  margin: 0 10px;
  margin-top: 4px;
  font-style: italic;
  font-weight: bold;
  padding: 0 12px;
  border-radius: 10px;
  background-color: #1a1b26;
}

#tray:hover,
#custom-powermenu:hover,
#pulseaudio:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#clock:hover {
  background-color: rgba(20, 22, 30, 0.6);
}

#custom-powermenu:hover {
  color: #f7768e;
}

#temperature.critical {
  color: #f7768e;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
}
